/* some style */

@font-face {
    font-family: 'TwentyFour';
    src: url('../fonts/digii.ttf');
}

body {
    background-color: black;
    font-family: TwentyFour;
    color: #ECC34C;
}

#imgContainer {
    float:left; display:inline;
}

#hudContainer {
    margin-left: 10px;
    float:left; display:inline;
}

input[type=checkbox]:before
                         { content:""; display:inline-block; width:12px; height:12px; background: url('/img/jacksad.jpg');
                           height:40px;
                           width:40px;
                           margin-right: 20px;
                         }

input[type=checkbox]:checked:before
                                 { content:""; display:inline-block; width:12px; height:12px; background: url('/img/jackhappy.jpg');
                           height:40px;
                           width:40px;
                           margin-right: 20px;
                         }​
