/* some style */

@font-face {
    font-family: 'TwentyFour';
    src: url('../fonts/digii.ttf');
}

body {
    background-color: black;
    font-family: TwentyFour;
    color: #ECC34C;
    font-size: 1.2em;
}

#imgContainer {
    float:left; display:inline;
}

#hudContainer {
    margin-left: 10px;
    float:left; display:inline;
}

.toggle-p {
    margin-left:2.3em;
    margin-top:-0.3em;
    font-size: 1.2em;
}

#msgContainer {
    clear: both;
}

input[type=checkbox]:before
                         { content:""; display:inline-block; width:12px; height:12px; background: url('/img/jacksad.jpg');
                           height:40px;
                           width:40px;
                           border-radius: 5px;
                         }

input[type=checkbox]:checked:before
                                 { content:""; display:inline-block; width:12px; height:12px; background: url('/img/jackhappy.jpg');
                                   height:40px;
                                   width:40px;
                                   border-radius: 5px;
                                 }​


                                 @-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
                                 @keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }

                                 .blink {
                                     text-decoration:blink;

                                     -webkit-animation-name:blinker;
                                     animation-name:blinker;
                                     -webkit-animation-iteration-count:infinite;
                                     animation-iteration-count:infinite;
                                     -webkit-animation-timing-function:cubic-bezier(1.0,0,0,1.0);
                                     animation-timing-function:cubic-bezier(1.0,0,0,1.0);
                                     -webkit-animation-duration:1s;
                                     animation-duration:1s;
                                 }
